<%= content_for :title, "#{@object.name} - Nodes - Admin" %>
<%= content_for :header_title, "Edit- #{@object.name}" %>

<div class="admin-well">
  <h2><%= t('ascent.admin.node.new') %></h2>

  <%= ascent_form_for @object, url: ascent_admin.nodes_path, html: { method: "post", multipart: true } do |form| %>
    <%= form.generate %>
  <% end %>
</div>
